#heading { 
          color:blue;
          text-decoration:underline;
          text-align:center;
         }
.box { 
      width:300px;
      height:200px;
      background-color:lightgray;
      padding:20px;
      border: 2px solid black;
      display:inline-block;
      margin:10px;
      align:center;
     }
.img {
      width:200px;
      height:200px;
      border-radius:10px;
      border:2px solid black;
      margin:20px;
      display:inline-block;
     }
#headings { 
          color:green;
          text-decoration:underline;
           text-align:center;
         } 
.table {
        width:50%;
        border-collapse:collapse;
        margin:20px;
        border: 1px solid black;
        padding:10px;
        text-align:center;
        background-color:lightblue;
       }
#headingss { 
          color:red;
          text-decoration:underline;
          text-align:center;
         }
#header{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 1px;
    text-align:center;
    font-size:30px; 
} 
#header:hover{
              background-color:cadetblue;
             } 
.nav{
      background-color:wheat;
      color:black;
      padding: 10px;
      margin: 1px;
      text-align:center;
      font-size:18px;

     }
#nava{
        padding:5px;
        margin:8px;      
      }

.nav:active{
            color:black;
           }  
#footer{
        background-color: black;
        color: white;
        padding: 20px;
        margin: 1px;
        text-align:center;
        font-size:20px; 
       }
#footer:hover{
              background-color:cadetblue;
             } 
#content{
         font-size:30px;
         text-align:center;
         text-decoration:black;
         }
.boxa { 
      width:300px;
      height:40px;
      background-color:lightgray;
      padding:20px;
      border: 2px solid black;
      margin:10px;
      align:center;
     }
.block {
             display:inline-block;
            }




